.body_bg{
    background-color: #fffbed;

}

.btn-tam{
padding:50px;
width: 50%;
height: 50px;
}

body section a.btn{
    transition: width 0.4s ease-out, height 0.4s ease-out;
    font-size: 1rem;
    }

body section a.btn:hover{
    color: white;
    width: 550px;
    height: 60px;
    
    }
/*estilização de botões*/
.portugues{
    background-color: #86ABD4;
    color: black;
    box-shadow: 4px 2px 5px black;
}

.matematica{
    background-color: #eb0a0a73;
    color: black;
    box-shadow: 4px 2px 5px black;
}

.ciencias{
    background-color: #A0CD60;
    color: black;
    box-shadow: 4px 2px 5px black;
}

.historia{
    background-color: #EE8B4A;
    color: black;
    box-shadow: 4px 2px 5px black;
}

.geografia{
    background-color: #FFD17D;
    color: black;
    box-shadow: 4px 2px 5px black;
}

.ed_fisica{
    background-color: #2db9b057;
    color: black;
    box-shadow: 4px 2px 5px black;
}

.artes{
    background-color: #BCA7E8;
    color: black;
    box-shadow: 4px 2px 5px black;
}

.religiao{
    background-color: #a6774e83;
    color: black;
    box-shadow: 4px 2px 5px black;
}

.portugues:hover{
    background-color: rgb(12, 29, 115);
}
.matematica:hover{
    background-color: #FF293B;
}
.ciencias:hover{
    background-color: #B6D93B;
}
.historia:hover{
    background-color: #FF8E00;
}
.geografia:hover{
    background-color: #E6A731;
}
.ed_fisica:hover{
    background-color: #3FCEF6;
}
.artes:hover{
    background-color: #693E7F;
}
.religiao:hover{
    background-color: #FFE3CC;
}

/*estilização de cabeçalho*/
.bg_portugues{
    background: blue;
    height: 240px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: flex;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.221);
}

.bg_matematica{
    background: url(../../imagens/matematica.svg);
    width: 100%;
    height: 240px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: flex;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.221);
}

.bg_ciencias{
    background: url(../../imagens/ciencias.svg);
    width: 100%;
    height: 240px;
    margin: auto;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: flex;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.221);
}

.bg_historia{
    background: url(../../imagens/historia.svg);
    width: 100%;
    height: 240px;
    margin: auto;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: flex;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.221);
}

.bg_geografia{
    background: url(../../imagens/geografia.svg);
    width: 100%;
    height: 240px;
    margin: auto;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: flex;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.221);
}

.bg_edFisica{
    background: url(../../imagens/ed_fisica.svg);
    width: 100%;
    height: 240px;
    margin: auto;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: flex;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.221);
}

.bg_artes{
    background: url(../../imagens/artes.svg);
    width: 100%;
    height: 240px;
    margin: auto;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: flex;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.221);
}

.bg_religiao{
    background: url(../../imagens/religiao.svg);
    width: 100%;
    height: 240px;
    margin: auto;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: flex;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.221);
}

.icon_materia{
position: relative;
margin: 2px;
font-size: 1.3em;
}

a{
text-decoration: none;
text-transform: uppercase;
font-weight: bold;

}

/*estilização de rodapé*/

footer{

    text-align: center;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.221);
    width: 100%;
    clear: both;
    bottom: 0;
    padding: 0.4em;
  

}

.portugues-footer{
    background: rgb(12, 29, 115);
    color: white;
}

.matematica-footer{
    background: #691C1F;
    color: white;
}

.ciencias-footer{
    background: #79AB46;
    color: white;
}

.historia-footer{
    background: #F25C05;
    color: white;
}

.geografia-footer{
    background: #F2BD02;
    color: white;
}

.edFisica-footer{
    background: #2B6D7D;
    color: white;
}


.artes-footer{
    background: #281259cd;
    color: white;
}

.religiao-footer{
    background: #BF9056;
    color: white;
}



@media (min-width:100px) and (max-width:420px){
.btn-tam{
    width: 100%;
}


footer{
    position: relative;
    bottom: 0;
}
}

