
        ::selection{
            background-color: #691C1F;
            color: azure;
        }

        body{
            background-color: rgb(250, 205, 205);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 17px;
            color: azure;
        }
        h1{
            color: azure;
            text-align: center;
            font-weight: 450;
        }
        h2{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #ab2d31;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
        }

        h3{
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
        }

        p{
            text-align: justify;
        }

        header{
            background-color: #691C1F;
            border: 5px solid #A92E31;
            border-radius: 10px;
            margin: auto;
            margin-bottom: 15px;
            box-shadow: 2px 2px 2px black;
        }

        main{
            background-color: rgb(249, 249, 249);
            border: 4px solid #A92E31;
            border-radius: 5px;
            color: black;
            width: 900px;
            padding: 5px 10px 5px 10px;
            margin: auto;
        }

        li{
            list-style: none;
        }

        a{
            color: azure;
            margin-top: 15px;
            font-size: medium;

        }

        .apoio{
            color: #b50c0c;
            text-decoration: none;
        }

        .apoio:hover{
            color: rgb(235, 127, 127);
            text-decoration: underline;
        }

        .apoio:visited{
            color: rebeccapurple;
        }

        .voltar_home{
            position: absolute;
            width: 150px;
            border-radius: 15px;
            box-shadow: 0px 0px 5px black;
}

        .voltar_home:hover{
            background-color: #691C1F;
            color: azure;
            animation: .7s ease-out;
            transition:0.5s;
}

        .download_pdf{
            
            background-color: #D0393D;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0px 0px 8px black;
            padding: 15px 5px 15px 5px;
            width: 100%;
        }

        .download_pdf:hover{
            background-color: #691C1F;
            color: azure;
            animation: .7s ease-out;
            transition:0.5s;
            text-decoration: none;
        }

        .btn_estrategias{
            
            background-color: #D0393D;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 0 8px black;
            padding: 15px 5px 15px 0px;
            margin: auto;
            margin-top: 15px;
            text-decoration: none;
            transition: 0.3s;
        }

        .btn_estrategias:hover{
            background-color: #691C1F;
            color: azure;
            animation: .7s ease-out;
            transition:0.5s;
            text-decoration: none;
        }