.body_bg{
    background-color: #fffbed;
    color: white
}

.btn-tam{
padding:50px;
width: 50%;
height: 50px;
}

body section a.btn{
    transition: width 0.4s ease-out, height 0.4s ease-out;
    font-size: 1rem;
    }

body section a.btn:hover{
    color: white;
    width: 550px;
    height: 60px;
    
    }

.portugues{
    background-color: rgb(12, 29, 115);
    color: white;
    box-shadow: 4px 2px 5px black;
}

.matematica{
    background-color: #691C1F;
    color: white;
    box-shadow: 4px 2px 5px black;
}

.ciencias{
    background-color: #A0CD60;
    color: white;
    box-shadow: 4px 2px 5px black;
}

.historia{
    background-color: #F25C05;
    color: white;
    box-shadow: 4px 2px 5px black;
}

.geografia{
    background-color: #F2BD02;
    color: white;
    box-shadow: 4px 2px 5px black;
}

.ed_fisica{
    background-color: #2B6D7D;
    color: white;
    box-shadow: 4px 2px 5px black;
}

.artes{
    background-color: #281259cd;
    color: white;
    box-shadow: 4px 2px 5px black;
}

.religiao{
    background-color: #BF9056;
    color: white;
    box-shadow: 4px 2px 5px black;
}

.portugues:hover{
    background-color: #67AAB8;
}
.matematica:hover{
    background-color: #FF293B;
}
.ciencias:hover{
    background-color: #B6D93B;
}
.historia:hover{
    background-color: #FF8E00;
}
.geografia:hover{
    background-color: #E6A731;
}
.ed_fisica:hover{
    background-color: #3FCEF6;
}
.artes:hover{
    background-color: #693E7F;
}
.religiao:hover{
    background-color: #FFE3CC;
}

.bg{
background: url(../imagens/bg-topo.png);
width: 100%;
height: 240px;
margin: auto;
background-size: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: flex;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.221);
}

.icon_materia{
position: relative;
margin: 2px;
font-size: 1.3em;
}

a{
text-decoration: none;
text-transform: uppercase;
font-weight: bold;

}

footer{
    text-align: center;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.221);
    background: #020139;
    width: 100%;
    clear: both;
    bottom: 0;
    padding: 0.4em;
    position: fixed;
}

@media (min-width:100px) and (max-width:420px){
.btn-tam{
    width: 100%;
}

footer{
    position: relative;
    bottom: 0;
}
}
